footer { 
    bottom: 0;
    height: 100px;
    width: 100%;
 }
h5 {
    margin-top: 8px;
}
h3 {
    font-family: "Audiowide";
    margin-top: 10px;
}
.text-white.text-center {
    margin: 0px;
}
.btn.btn-primary {
    margin-left: 50px;
}
