body {
    background-color: rgb(0, 0, 0);
    color: white;
}
.card {
    /* background-color: yellowgreen; */
    margin: 0px;
}
.game-list {
    /* background-color: blueviolet; */
    
}
